.root {
  background-color: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 30px;
  margin-top: 100vh;
  position:absolute;
  left:0;
  bottom:0;
  right:0;
}

.inner {
  display: flex;
  justify-content: space-between;
}